@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  box-sizing: border-box;
  /* border: 1px solid red; */
}

.hide-scroll-bar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}

.background-baver-100{
  background-color: #e48c24;
}

.background-baver-200{
  background-color: #FA983A;
}

.background-baver-300{
  background-color: #fb9c31;
}

.background-baver-400{
  background-color: #f7c347;
}

.background-baver-500{
  background-color: #fc7c14;
}

.background-mandvi-100{
  background-color: #27333a;
}

.background-mandvi-200{
  background-color: #747474;
}